.sidenav {
  background: linear-gradient(
    180deg,
    rgb(30, 30, 30) 0%,
    rgb(40, 40, 40) 50%,
    rgb(82, 82, 82) 100%
  );
  color: white;
  height: 95vh;
  border-radius: 15px;
}
.sidenav-active {
  background-color: rgb(33, 129, 246);
}
.sidenav-content > a > div:hover {
  background-color: rgba(33, 129, 246, 0.503) !important;
  transition: 0.1s;
  transform: scale(0.95);
}
.sidenav-content > a > div:active {
  background-color: rgb(33, 129, 246) !important;
  transition: 0.1s;
  transform: scale(1);
}
.profileAcc {
  background: rgba(255, 255, 255, 0.4) !important;
}
